/* CSS declarations go here */

body { padding-top: 70px; }

#postPhotoModal img {
  width: 100%;
}

#postPhotoModal input {
  height: 50px;
}

#postPhotoModal .modal-content {
  box-shadow: 0px 0px 150px 20px black;
}

#card {
  padding: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}

#card img {
  width: 100%;
}
.unsubmitted-photo {
  
}

.camera-popup img.photo-preview {
  margin-bottom: 10px;
  width: 100%;
}
/* CSS declarations go here */
.np {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 5px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

